.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sidebar-container {
  padding: 10px;
  padding-top: 50px;
  min-width: 350px;
}

.header-toolbar {
  width: 100%;
  padding-block: 10px;
  display: flex;
  /* position: relative; */
  justify-content: space-between;
}

.dropdown-toolbar {
  width: fit-content;
}

.dropdown-toolbar .Dropdown-menu {
  width: fit-content;
}

/* external-events */
#external-events {
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events .fc-event {
  cursor: move;
  margin: 3px 0;
  margin-block: 3px;
}
