.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sidebar-container {
  padding: 10px;
  padding-top: 62px;
  width: 350px;
}

.header-toolbar {
  width: 100%;
  padding-block: 10px;
  display: flex;
  /* position: relative; */
  justify-content: space-between;
}

.dropdown-toolbar {
  width: fit-content;
}

.dropdown-toolbar .Dropdown-menu {
  width: fit-content;
}

/* external-events */
#external-events {
  width: auto;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events .fc-event {
  cursor: move;
  margin-block: 3px;
  padding: 5px;
  border: none;
}

.fc-event .fc-event-main {
  text-wrap: pretty;
  color: #222 !important;
}
